#########################################################################################
##  EDA tools gitignore (adapted from https://github.com/iDoka/eda-scripts)            ##
#########################################################################################

# log files
*.log
*.rpt

# bitstream
*.bit

# netlist
*.edf
*.edif
*.vn

# SDF
*.sdf

# for Xilinx Vivado|ISE
.Xil/
.hbs/
.cache/
xsim.dir/
*.ip_user_files/

worklib.tb.wdb
fsm_encoding.os
tab_*/
webtalk.jou
webtalk.log
webtalk_*.jou
webtalk_*.log
vivado.jou
vivado.log
vivado_pid*.str
hs_err_pid*
xelab.*
xsim.*
xvlog.*
*.cache
*.sim
*.runs
*.hw
*.backup.*
*.debug
*.gen
*.dcp
**/utils_1/

unisims

# for Vitis
_ide/

#########################################################################################
##  Build outputs                                                                      ##
#########################################################################################

# Vivado export artifacts
hardware/output/*
!hardware/output/.gitkeep
